<header>BinReverser#view</header>

<div class="div-table">
  <div class="caption">Result:</div>
  <div class="row head">
    <div class="cell">M </div>
    <div class="cell">M (binary) </div>
    <div class="cell">N (binary) </div>
    <div class="cell">N </div>
  </div>
  <div class="row code-font">
    <div class="cell" id="m"><%= @num_m[:int] %></div>
    <div class="cell" id="m_bin"><%= @num_m[:bin_str] %></div>
    <div class="cell" id="n_bin"><%= @num_n[:bin_str] %></div>
    <div class="cell" id="n"><%= @num_n[:int] %></div>
  </div>
</div>
<%= link_to 'Try different number', :bin_reverser_input %>
