<header>BinReverser#view</header>

<div class="div-table">
  <div class="caption">Result:</div>
  <div class="row head">
    <div class="cell">M </div>
    <div class="cell">M (binary) </div>
    <div class="cell">N (binary) </div>
    <div class="cell">N </div>
  </div>
  <div class="row code-font">
    <div class="cell" id="m"><%= @m_i %></div>
    <div class="cell" id="m_bin"><%= @m_bin_str %></div>
    <div class="cell" id="n_bin"><%= @n_bin_str %></div>
    <div class="cell" id="n"><%= @n_i %></div>
  </div>
</div>
<%= link_to 'Try different number', :bin_reverser_input %>
