<div class="alert alert-info">
  Was found: <%= @was_found %>
</div>

<div class="container">
  <table class="table">
    <caption>Result</caption>
    <tr>
      <th>M</th>
      <th>M bin</th>
      <th>N bin</th>
      <th>N</th>
    </tr>
    <tr>
      <td><%= @result.m_int %></td>
      <td><%= @result.m_bin %></td>
      <td><%= @result.n_bin %></td>
      <td><%= @result.n_int %></td>
    </tr>
  </table>
</div>
