<!DOCTYPE html>
<html>
  <head>
    <title>LrFinal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to 'Logout', signout_path, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log In', signin_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </nav>
        <h3 class="text-muted">Bin Reverser</h3>
      </header>

      <% flash.each do |name, msg| %>
        <%= content_tag(
          :div, msg,
          class: 'alert alert-info'
        ) %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
